html { 
   width:100%; 
   height:100%;
   background-color: black;
 }



p{
 	font-family:'Maria Pro',Helvetica,Arial,sans-serif;
 	font-style: lighter;
	font-size: 19px;
	text-decoration: lighter;
	letter-spacing: 1px;
	text-align: justify;
	padding: 2% 3% 2% 3%;
	color: black;
	letter-spacing: 2.5px;
	background-color: white;
	

}
div.placa {
	display: block;
    margin: auto;
    width: 48%;
}


.final {
 	font-family: 'Maria Pro',Helvetica,Arial,sans-serif;
 	font-style: lighter;
	font-size: 20px;
	padding-top: 1%;
	text-decoration: lighter;
	letter-spacing: 1px;
	text-align: center;
	font-color: black;
}

img {
    display: block;
    margin: auto;
    padding-top: 3%;
    width: 48%;
    z-index: -1;
}
	

a:link {
	color: white;
	font-family: 'Maria Pro',Helvetica,Arial,sans-serif;
	font-style: lighter;
	text-decoration: none;
	letter-spacing: 7px;
	margin-top: 1%;
	margin-bottom: 2%;
	padding-bottom: 2%;

}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}





